# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
venv/
*.env

# Ignore sensitive files

see_users.py


# VS Code settings
.vscode/

# Ignore logs
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db
