{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class=" text-start px-4 py-3">
  <h2>About us</h2>
  <p>Welcome to this website! MyRedemption is run by a team of passionate students to support academic success and to make countless learner's Redemption journey a fun and inspiring one </p>
  <p>It is our mission to help learners in their redemption journey from point A to B.</p>
  <p>Thank you for visiting!</p>
  <p>More redemption materials will be posted soon!</p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
<p>For any inquiries, please contact us at <strong>redemptioncustomercare1@gmail.com</strong>.</p>
</div>

{% endblock %}
