{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class=" text-start px-4 py-3">
  <h2>About ME</h2>
  <p>Welcome to my website! I am Abel, the creator of this website. I am a teen striving to make countless learner's Redemption journey a fun and inspiring one </p>
  <p>It is my mission to help learners in their redemption journey from point A to B.</p>
  <p>Thank you for visiting!</p>
  <p>More redemption materials will be posted soon!</p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
<p>For any inquiries, please contact Abel at <strong>abeldena123@gmail.com</strong>.</p>
</div>

{% endblock %}