{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class=" text-start px-4 py-3">
  <h2>About Us</h2>
  <p>Welcome to our website! We are dedicated to providing you with the bestredemption journey experience possible.</p>
  <p>Our mission is to help learners in their redemption journey from point A to B.
  This site was created by Abel.</p>
  <p>Thank you for visiting!</p>
  <p>More redemption materials will be posted soon!</p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
  <p>‎ </p>
<p>For any inquiries, please contact Abel at <strong>abeldena123@gmail.com</strong>.</p>
</div>

{% endblock %}