{% extends "base.html" %}
{% block title %}Acknowledgments{% endblock %}
{% block content %}
<div class="text-start px-4 py-3">
  <h1>Acknowledgments</h1>
  <p>We gratefully acknowledge the contributions of the following publishers for providing valuable revision materials used in this platform:</p>

  <h3 class="mt-4">1. Doyen Publishers</h3>
  <p>Doyen has contributed to a lot of papers and notes, supporting learners with diverse and reliable resources.</p>
  <p>Visit Doyen <a href="https://doyenpublishers.com/junior-school/" target="_blank">here</a>.</p>

  <h3 class="mt-4">2. Success Path Examination Council publishers</h3>
  <p>Success Path Examination Council Publishers have played an important role in developing quality English assessment papers that aid learners in academic progress.</p>

  <h3 class="mt-4">3. Signal Publishers</h3>
  <p>Signal Publishers support learners in mathematics through structured exams that match curriculum needs. Visit them <a href="https://signalpublishersltd.com/" target="_blank">here</a>.</p>

  <h3 class="mt-4">4. Teacher.co.ke</h3>
  <p>This site has contributed to most materials. Visit them <a href="https://teacher.co.ke/" target="_blank">here</a>.</p>
  
  <h3 class="mt-4">5. Targeter Wings</h3>
<p>Targeter Wings has significantly contributed to the development of exam materials, ensuring learners have structured resources to excel in their studies. Visit them <a href="https://targeterpublishers.co.ke/" target="_blank">here</a></p>

<h3 class="mt-4">6. Easy Elimu</h3>
<p>Easy Elimu has played a crucial role in providing assessment papers, aiding learners in effective exam preparation. Visit them <a href="https://www.easyelimu.com/" target="_blank">here</a></p>

<h3 class="mt-4">7. Kenya Educators</h3>
<p>Kenya Educators has been instrumental in supporting key educational areas. Explore their resources <a href="https://www.google.com/search?q=kenya+educators+publishers&sca_esv=e9924e7293653108&sxsrf=AE3TifOfUMIxsHJ2adtwMNGu8gXGwDoccg%3A1748793509227&ei=pXg8aI7YDYWdkdUPld6bqQo&oq=kenya+educators+pub&gs_lp=Egxnd3Mtd2l6LXNlcnAiE2tlbnlhIGVkdWNhdG9ycyBwdWIqAggAMgoQIxiABBgnGIoFMgYQABgWGB4yBhAAGBYYHjILEAAYgAQYhgMYigUyCxAAGIAEGIYDGIoFMgsQABiABBiGAxiKBTIIEAAYgAQYogQyCBAAGIAEGKIESL0aULMCWL4JcAF4AZABAJgBlQKgAaoIqgEDMi00uAEDyAEA-AEBmAIFoAKYCcICBxAjGLADGCfCAgoQABiwAxjWBBhHwgINEAAYgAQYsAMYQxiKBcICBRAAGIAEmAMAiAYBkAYKkgcHMS4wLjMuMaAHmxyyBwUyLTMuMbgHjQnCBwUzLTIuM8gHXQ&sclient=gws-wiz-serp" target="_blank">here</a>.</p>

<h3 class="mt-4">8. Goldlite Online Supplies</h3>
<p>Goldlite Online Supplies has generously provided booklets that enhance study materials for learners. Visit them <a href="https://www.google.com/search?q=goldlite+publishers&sca_esv=02084b41e4f98c9a&sxsrf=AE3TifNaSw40Pj5mwkyvy5Zazi4TqE-cfA%3A1748774179734&ei=Iy08aPLILKTZkdUP5seUuA8&oq=Goldlite&gs_lp=Egxnd3Mtd2l6LXNlcnAiCEdvbGRsaXRlKgIIATIKECMYgAQYJxiKBTIKECMYgAQYJxiKBTIKEAAYgAQYFBiHAjIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIKEAAYgAQYFBiHAkjLL1C4DFjXHHABeAGQAQCYAcICoAGaFqoBBTItOS4yuAEDyAEA-AEBmAIDoAKeBMICChAAGLADGNYEGEfCAggQABiABBiiBMICBRAAGO8FmAMAiAYBkAYDkgcHMS4wLjEuMaAH_k6yBwUyLTEuMbgHmwTCBwUwLjEuMsgHEA&sclient=gws-wiz-serp" target="_blank">here</a></p>


  <p class="mt-5">All resources used are strictly for academic revision purposes only.</p>
</div>
{% endblock %}
