{% extends "base.html" %}
{% block title %}Redemption{% endblock %}
{% block content %}
<div class="text-start px-4">

  <h1>Academic Redemption</h1>
  <h2>A Path to Recovery</h2>
  <p>Welcome to the Academic Redemption Guide</p>
  <p>This guide is designed to help you recover from academic setbacks.</p>

  <p class="mt-4">
    This website provides a detailed guide for learners seeking academic recovery after failure.
    Inside the guide, you’ll find strategies and methods for improvement.
    Use this resource responsibly and follow the advice for the best outcomes.
  </p>
  <p>
    The past may shape you, but it does not define you. 
    Redemption is earned through action—through the willingness to rise, to grow, and to never let yesterday hold back tomorrow.
  </p>

  <div class="mt-4">
    <p><strong>To start your redemption journey, view the file below for a Blueprint.</strong></p>
    <a href="https://drive.google.com/file/d/107QaGGRn47HPa_6REe59R_n-oh5vveG7/view"
       target="_blank" class="btn btn-primary">
      <i class="fa fa-file-pdf"></i> View Guide
    </a>
  </div>

  <!-- Revision Materials Section -->
  <h2 class="mt-5">Revision Materials</h2>
  <h6>ITS ON US, FREE revision Materials to help in your redemption !!</h6>

  <!-- Assessments -->
  <h4 class="mt-4">Assessments</h4>

  <h5>Grade 8</h5>
  <ul>
    <li><a href="https://drive.google.com/file/d/1URHcw0j6i_ImwyIC6tJ24i_oOt2-Wfmb/view?usp=sharing" target="_blank">English G8 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1suZnpCrSp4hoGg8ojWAvOh9q2R3mXKTq/view?usp=sharing" target="_blank">Integrated Science G8 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/161s-cc2eFPKruG560Nlg7S9eHRHr4z_I/view?usp=sharing" target="_blank">Mathematics G8 Exam</a></li>
  </ul>

  <h5 class="mt-3">Grade 9</h5>
  <ul>
    <li><a href="https://drive.google.com/file/d/1ismEoxPPJGA4NPPV-FFedjtEu5EVHrov/view?usp=sharing" target="_blank">English G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1TX85rHtK30MKeueeyIWdWl1SNjepkNZz/view?usp=sharing" target="_blank">Agriculture G9 Paper 1</a></li>
    <li><a href="https://drive.google.com/file/d/1r7cGozpR4bsb6vLu0I03l7zxCpvoFn4-/view?usp=sharing" target="_blank">C.R.E G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1GcFWY3mPB8w2WjvMBxXRuFdaqbsGBIA8/view?usp=sharing" target="_blank">Creative Arts and Sports G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/154cIUSMtU-63zbJts2_4fSB_QIzhywKA/view?usp=sharing" target="_blank">Integrated Science G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1kyUwHcrY-KNYo6i3TvH8aA8IxRMxi2lW/view?usp=sharing" target="_blank">Kiswahili Paper 1 G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1jyKXgEQc7EKaJ_NlPzQHkA6PnBVei3wq/view?usp=sharing" target="_blank">Social Studies G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/1DAMaQNYJ_MzL7bSJ5GObJsrg8BLrRjcS/view?usp=sharing" target="_blank">Mathematics G9 Exam</a></li>
    <li><a href="https://drive.google.com/file/d/12r92MbFpajxpViDcVb4kZ1r7_oT5XjMR/view?usp=sharing" target="_blank">P.T.S G9 Exam</a></li>
  </ul>

  <!-- Notes -->
  <h4 class="mt-5">Notes</h4>

  <h5>Grade 9</h5>
  <ul>
    <li><a href="https://drive.google.com/file/d/1HHfJLvODXuTypPg3lxtRK5SvqxKZMlHe/view?usp=sharing" target="_blank">Creative Arts and Sports Notes</a></li>
    <li><a href="https://drive.google.com/file/d/1U4JNvLoWKHPZbFAz1p7bfDdY84-Qn_QA/view?usp=sharing" target="_blank">Integrated Science Notes</a></li>
    <li><a href="https://drive.google.com/file/d/1DfTO6MWafsIG_Ny3H24FoqJUs24SS5fZ/view?usp=sharing" target="_blank">Social Studies Notes</a></li>
  </ul>

  <h5>Grade 8</h5>
  <ul>
    <li><a href="https://drive.google.com/file/d/1DjVnnR10T-xO5mKQJ81MglYwl5uya0Ql/view?usp=sharing" target="_blank">Agriculture Notes</a></li>
  </ul>


  <!-- Acknowledgments Button -->
  <div class="d-flex justify-content-between mt-5 px-4">
    <div>
      <a href="{{ url_for('views.acknowledgments') }}" style="border: none; text-decoration: underline; background: none; color: #0d6efd; padding: 0;">Acknowledgments</a>
    </div>
    <div>
      <a href="{{ url_for('views.generate_qr') }}" style="border: none; text-decoration: underline; background: none; color: #0d6efd; padding: 0;">Generate QR Code</a>
    </div>
    <div>
      <a href="{{ url_for('views.about') }}" style="border: none; text-decoration: underline; background: none; color: #0d6efd; padding: 0;">About</a>
    </div>
  </div>
  


</div>

{% endblock %}





