{% extends "base.html" %}
{% block title %}Terms of Use{% endblock %}
{% block content %}
<h2>Terms of Use</h2>
<p>By using this site, you agree that all content, including downloadable files, is provided strictly for educational purposes only. Redistribution and or harming the publishers name and reputation is not allowed. You are responsible for keeping your account credentials confidential and for all activities that occur under your account. Misuse of the platform, such as attempting to hack, disrupt, or reverse engineer the site, is not allowed. By signing up, you also consent to receive occasional emails related to your account or the redemption program. The site administrators reserve the right to update these terms at any time, and it is your responsibility to stay informed of any changes. Violation of any of these terms may lead to suspension or permanent deletion of your account without prior notice .
 </p>
{% endblock %}
