{% extends "base.html" %}
{% block content %}
<h1>Welcome to Premium</h1>
<p>You now have access to downloaded papers.</p>

<h4>Grade 9</h4>
<h5>KJSEA BluePrints 9</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1scEGubKpDzShYkgkcmcxfOmmQKrJz4u8/view?usp=sharing" target="_blank">Agriculture Blueprint</a></li>
  <li><a href="https://drive.google.com/file/d/1oFHiICneWJZKDbR09AFp5W0dYgQIFXK5/view?usp=sharing" target="_blank">CAS Blueprint</a></li>
  <li><a href="https://drive.google.com/file/d/1f0-FHCfenQFSEXssMjW9J86ugwja0rnb/view?usp=sharing" target="_blank">C.R.E Blueprint</a></li>
  <li><a href="https://drive.google.com/file/d/1yE6CSwfuZ5YqYOU4lhaQ0wkNwwwyTiEB/view?usp=sharing" target="_blank">English Blueprint</a></li>
  <li><a href="https://drive.google.com/file/d/1ey_yZ0k1L83VbQF0FomLv5_AEBVcKb2R/view?usp=sharing" target="_blank">Kiswahili Blueprint</a></li>
  <li><a href="https://drive.google.com/file/d/1RM4Cr27jsKOVeUraiJKODd0Fs7qGXi0w/view?usp=sharing" target="_blank">MATH Blueprint</a></li>
</ul>
<h5>Exams</h5>
<h6>TW</h6>
<ul>
  <li><a href="https://drive.google.com/file/d/1rxzQdW9trxD8I1b65zNTJ1K51EClIgFT/view?usp=sharing" target="_blank">C.R.E G9 TW003</a></li>
  <li><a href="https://drive.google.com/file/d/1uYTjsl2fLRW0WsdwNO9Im5CEggKhiAH9/view?usp=sharing" target="_blank">CAS G9 TW003</a></li>
  <li><a href="https://drive.google.com/file/d/1FbIYosPr_yXppWozgvUk9g8_LiXeNRRj/view?usp=sharing" target="_blank">English G9 TW003</a></li>
  <li><a href="https://drive.google.com/file/d/1Xf9AzPW_hCiEV-tBekGXa5iVQWW4xNNu/view?usp=sharing" target="_blank">Kiswahili G9 TW003</a></li>
  <li><a href="https://drive.google.com/file/d/1I25bGbIza3H1CprYYHMaDD3sioDB-Xh5/view?usp=sharing" target="_blank">P.T.S G9 TWOO3</a></li>
  <li><a href="https://drive.google.com/file/d/1OPwf5a9jCFhelLALvr2z5i9d_3mzsAR7/view?usp=sharing" target="_blank">Social Studies G9 TW003</a></li>
</ul>
<p>‎ </p>
<h5>Notes</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1M8lJ3nHSFEOtepvTiL6R3yYgBJ8Lz9O_/view?usp=sharing" target="_blank">Pre-Tech Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1QsjuT4SRYwRwgcfhbDzaoj4ocTZAG4J4/view?usp=sharing" target="_blank">Social Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1fjTBeMauOemQV6H_1m7qxO8p4QUrxuoi/view?usp=sharing" target="_blank">C.R.E Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1nxV_6ahO2M-Zz8Ko5L8nQPSIZrqXozBA/view?usp=sharing" target="_blank">English Notes</a></li>
  <li><a href="https://drive.google.com/file/d/19k4Enocxo3mcVudGgT4ZmGtTESeUSatG/view?usp=sharing" target="_blank">Agriculture Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1m5xOnEkp7OKC4OP69gln37_6bkg5fV33/view?usp=sharing" target="_blank">CAS Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1dZDPIdhIw5qo4PBztmd6mxF6c5MjveUm/view?usp=sharing" target="_blank">I.Sci Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1-6vj-Leu3_RHAxKvbN9goMDV0eLwRmS8/view?usp=sharing" target="_blank">Kiswahili: Fasihi, Sarufi na Isimu Jamii</a></li>
  <li><a href="https://drive.google.com/file/d/1QbBKKB42hyk5nE2b5ftUGWLV3rk20zGf/view?usp=sharing" target="_blank">Math Simplified Notes</a></li>
</ul>
<h4>Grade 8</h4>
<h5>Notes</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1Nd-UQ-olrP3W7Lboq9BSkuw_HEmlvMor/view?usp=sharing" target="_blank">Agriculture Notes</a></li>
  <li><a href="https://drive.google.com/file/d/18Vdm_ictlkdzxPZRXTlSA5Uji18TCcsP/view?usp=sharing" target="_blank">C.R.E Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1H--aUIundy4RLYom1Jyelfz9tEiQ6AtI/view?usp=sharing" target="_blank">I.Sci Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1-k-od_BL-lbmJDs0UruECAPjOELKXo7V/view?usp=sharing" target="_blank">Pre-Technical Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1RksOODD0oklXa2FVP_Hzc2IopSt9H_Xi/view?usp=sharing" target="_blank">CAS Notes</a></li>
  <li><a href="https://drive.google.com/file/d/16idwZ2qpx8hig3qZ4pkqtTt2EgY0h7bd/view?usp=sharing" target="_blank">English Notes</a></li>
</ul>

<h5>Exams</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1oPPfBFyg-SQzJCt_05XpGTTVC9vr8eAm/view?usp=sharing" target="_blank">Agriculture</a></li>
  <li><a href="https://drive.google.com/file/d/1dQND6xACllcLmJcm5Z82aOZlI59qlWpZ/view?usp=sharing" target="_blank">Social Studies</a></li>
  <li><a href="https://drive.google.com/file/d/1ZgQ7YrrS3lJMlXsvP7VKJAlTTtyRKh53/view?usp=sharing" target="_blank">PRE-TECH exam</a></li>
  <li><a href="https://drive.google.com/file/d/1vGVLHoGGEgAuQodikRszxEo_kbSTgQFt/view?usp=sharing" target="_blank">Math Exam</a></li>
  <li><a href="https://drive.google.com/file/d/1LfR8SL-JJRdVeSX3NAbO0pwtHnP7FUZ3/view?usp=sharing" target="_blank">Kiswahili</a></li>
  <li><a href="https://drive.google.com/file/d/1vCHYHMN7WOUMhgBHA-O3gV4cX2pcEovm/view?usp=sharing" target="_blank">I.Science exam</a></li>
  <li><a href="https://drive.google.com/file/d/1dMLiaNRyhc6cBEYuWmc9LfIMjnsbD4XC/view?usp=sharing" target="_blank">English exam</a></li>
  <li><a href="https://drive.google.com/file/d/1q8PpcWKY2-dpzLdpuf3WEQjSbo5jo6tE/view?usp=sharing" target="_blank">CAS exam</a></li>
  <li><a href="https://drive.google.com/file/d/1uNWXWPa3hsjNqksgX11KsMGpZi-fnDlR/view?usp=sharing" target="_blank">CRE exam</a></li>
</ul>
<p>‎ </p>
<h4>Grade 7</h4>
<h5>Notes</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1jL2LXm7HYXUUwnSZnRIII4PMbVJO477O/view?usp=sharing" target="_blank">Agriculture Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1Kxs7aijxQ_YO63AAkT8P7CZmkPALiKQU/view?usp=sharing" target="_blank">Busines studies Exam</a></li>
  <li><a href="https://drive.google.com/file/d/1LTptZIWQDAXwy__zso2H6AgBfHMP_-wL/view?usp=sharing" target="_blank">Science Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1FlUYgz92WrUVsZW0z4Y3HlPaPf_a3biY/view?usp=sharing" target="_blank">CRE exam</a></li>
  <li><a href="https://drive.google.com/file/d/19GZJeqOBRUeub4d5p2wl42kerKa1qb8q/view?usp=sharing" target="_blank">P.T.S Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1ZJqJ4UONXSTf79kL4BX4x40Ceo2Y8NKO/view?usp=sharing" target="_blank">Computer science Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1YvxxZtIpR038NhMwi_7Md6QEXXhsVxCQ/view?usp=sharing" target="_blank">Health Education Notes</a></li>
  <li><a href="https://drive.google.com/file/d/1vCHYHMN7WOUMhgBHA-O3gV4cX2pcEovm/view?usp=sharing" target="_blank">Home Science Notes</a></li>
</ul>
<h5>Exams</h5>


<p>‎ </p>

<h4>Revision Booklets</h4>
<ul>
  <li><a href="https://drive.google.com/file/d/1XjNZx8R8SJDKP_lEfHvC4E-pGiF66-Qy/view?usp=sharing" target="_blank">Math G9 Booklet</a></li>
</ul>
<p>‎ </p>
<h4>Writing</h4>

<h5>Insha</h5>
<h6>Best Insha kcpe</h6>
<ul>
  <li><a href="https://drive.google.com/file/d/1Ols9mAiiAJJ2JWZ2nuDGbUM2EBbTzNXX/view?usp=sharing" target="_blank">Best insha 2003</a></li>
  <li><a href="https://drive.google.com/file/d/1hnIdvx8PedWYiMXu6nr0e69tPnzKa6dR/view?usp=sharing" target="_blank">Best insha 2005</a></li>
  <li><a href="https://drive.google.com/file/d/1t1j2PzBy5858UL1dCgSJvkFnz0vUrgUw/view?usp=sharing" target="_blank">Best insha 2006</a></li>
</ul>
<h6>Worst Insha</h6>
<ul>
  <li><a href="https://drive.google.com/file/d/1DK1tGbJwIAur1V_ZUp4XLXZIhQZHXf4T/view?usp=sharing" target="_blank">Worst insha 2003</a></li>
  <li><a href="https://drive.google.com/file/d/180CogFLFeM_DdTtX1sOL6ZRsZF3qhBEa/view?usp=sharing" target="_blank">Worst insha 2005</a></li>
  <li><a href="https://drive.google.com/file/d/1IN-1bqjsisV9SFtcepNyCYWZH7LgTXdG/view?usp=sharing" target="_blank">Worst insha 2006</a></li>
</ul>

<h5>Compositions</h5>
<h6>Best Compositions</h6>
<ul>
  <li><a href="https://drive.google.com/file/d/1B4lp9c1Z4op7X1uKCyc0vMafw5G3gAv8/view?usp=sharing" target="_blank">Best compo 2003</a></li>
  <li><a href="https://drive.google.com/file/d/1n4HbGByHeFVVS-u9RhHJx3tK4GGmYoCE/view?usp=sharing" target="_blank">Best compo 2005</a></li>
  <li><a href="https://drive.google.com/file/d/1S5cSAG5vBLp-oberQcrl_-0DVGXrCdWm/view?usp=sharing" target="_blank">Best compo 2006</a></li>
</ul>
<h6>Worst Compositions</h6>
<ul>
  <li><a href="https://drive.google.com/file/d/1TdIdQFOisVooOJeuwb22b8d9BxdX73Z2/view?usp=sharing" target="_blank">Worst compo 2003</a></li>
  <li><a href="https://drive.google.com/file/d/1PZWPH6IlDD3n22MwvMM-YdBxcrA7Dip7/view?usp=sharing" target="_blank">Worst compo 2005</a></li>
  <li><a href="https://drive.google.com/file/d/1nZbp2gEzPqS2wgezY0_H-o8uEHxBtczd/view?usp=sharing" target="_blank">Worst compo 2006</a></li>
</ul>
<p>‎ </p>
<h4>Guide to Insha and Composition writing</h4>
<ul>
  <li><a href="https://drive.google.com/file/d/11dZSv1dCU_bzeDa_USxyQw0pMgyIA3_j/view?usp=sharing" target="_blank">Guide-to-composition-writing</a></li>
  <li><a href="https://drive.google.com/file/d/10fFG1BBzek-ZF2wXaTi4BG1QE885C3nI/view?usp=sharing" target="_blank">Guide-to-Insha-writing</a></li>
</ul>
<p>‎ </p>

<h4>Class Reader and Guides</h4>
<h5>Grade 9</h5>
<ul>
  <li><a href="https://drive.google.com/file/d/1CG4EyXE1IbDmJX8SOWmM2CK3gq5l1Yxt/view?usp=sharing" target="_blank">Th Last Laugh play</a></li>
  <li><a href="https://drive.google.com/file/d/1CDK-L9Iw335cjYpnf2D43QkvnTKAJ_Fz/view?usp=sharing" target="_blank">The Last Laugh Guide</a></li>
</ul>
<p>‎ </p>

<h4>Programming Guids</h4>
<ul>
  <li><a href="https://drive.google.com/file/d/14O5WhSgyiEtKIsSXitRFcQEhCNK8Yd83/view?usp=sharing" target="_blank">HTML Basics Guide</a></li>
  <li><a href="https://drive.google.com/file/d/1hKQY2BamVupLBx4u_K6-xZsypAq6af8h/view?usp=sharing" target="_blank">Python Full Programming Guide-OPEN STAX™</a></li>
  <li><a href="https://drive.google.com/file/d/1ZaDW8zxCD9mpAi6shV-Ea1z1SyXlobFL/view?usp=sharing" target="_blank">CSS Basics Guide</a></li>
</ul>
<h5>Preogramming Courses</h5>
<ul>
    <li><a href="https://www.w3schools.com/html/default.asp" target="_blank">HTML Course</a></li>
    <li><a href="https://www.w3schools.com/python/default.asp" target="_blank">Python Course</a></li>
    <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS Course</a></li>
    <li><a href="https://www.w3schools.com/js/default.asp" target="_blank">JavaScript Course</a></li>
    <li><a href="https://www.w3schools.com/cpp/default.asp" target="_blank">C++ Course</a></li>
    <li><a href="https://www.w3schools.com/cs/default.asp" target="_blank">C# Course</a></li>
  </ul>

{% endblock %}

