{% extends "base.html" %}
{% block content %}
<h1>Welcome to Premium</h1>
<p>You now have access to downloaded papers.</p>
<h6>Grade 9 KJSEA BluePrints</h6>
<ul>
  <li style="display: flex; justify-content: space-between; align-items: center;">
    <a href="https://drive.google.com/file/d/1scEGubKpDzShYkgkcmcxfOmmQKrJz4u8/view?usp=sharing" target="_blank">Agriculture Blueprint</a>
    <a href="https://drive.google.com/file/d/1oFHiICneWJZKDbR09AFp5W0dYgQIFXK5/view?usp=sharing" target="_blank">CAS Blueprint</a>
    <a href="https://drive.google.com/file/d/1f0-FHCfenQFSEXssMjW9J86ugwja0rnb/view?usp=sharing" target="_blank">C.R.E Blueprint</a>
    <a href="https://drive.google.com/file/d/1yE6CSwfuZ5YqYOU4lhaQ0wkNwwwyTiEB/view?usp=sharing" target="_blank">English Blueprint</a>
    <a href="https://drive.google.com/file/d/1ey_yZ0k1L83VbQF0FomLv5_AEBVcKb2R/view?usp=sharing" target="_blank">Kiswahili Blueprint</a>
    <a href="https://drive.google.com/file/d/1RM4Cr27jsKOVeUraiJKODd0Fs7qGXi0w/view?usp=sharing" target="_blank">MATH Blueprint</a>
  </li>
</ul>
<h5>Grade 8</h5>
<h6>Notes</h6>
<ul>
  <a href="https://drive.google.com/file/d/1Nd-UQ-olrP3W7Lboq9BSkuw_HEmlvMor/view?usp=sharing" target="_blank">Agriculture notes</a>
  <a href="https://drive.google.com/file/d/18Vdm_ictlkdzxPZRXTlSA5Uji18TCcsP/view?usp=sharing" target="_blank">C.R.E Notes</a>
  <a href="https://drive.google.com/file/d/1H--aUIundy4RLYom1Jyelfz9tEiQ6AtI/view?usp=sharing" target="_blank">I.Sci Notes</a>
  <a href="https://drive.google.com/file/d/1-k-od_BL-lbmJDs0UruECAPjOELKXo7V/view?usp=sharing" target="_blank">Pre-Technical Notes </a>
  <a href="https://drive.google.com/file/d/1RksOODD0oklXa2FVP_Hzc2IopSt9H_Xi/view?usp=sharing" target="_blank">CAS Notes</a>
  <a href="https://drive.google.com/file/d/16idwZ2qpx8hig3qZ4pkqtTt2EgY0h7bd/view?usp=sharing" target="_blank">English Notes</a>
</ul>
<h6>Exams</h6>
<ul>
  <a href="https://drive.google.com/file/d/1oPPfBFyg-SQzJCt_05XpGTTVC9vr8eAm/view?usp=sharing" target="_blank">Agriculture </a>
  <a href="https://drive.google.com/file/d/1dQND6xACllcLmJcm5Z82aOZlI59qlWpZ/view?usp=sharing" target="_blank">Social studies </a>
  <a href="https://drive.google.com/file/d/1ZgQ7YrrS3lJMlXsvP7VKJAlTTtyRKh53/view?usp=sharing" target="_blank">PRE-TECH</a>
  <a href="https://drive.google.com/file/d/1vGVLHoGGEgAuQodikRszxEo_kbSTgQFt/view?usp=sharing" target="_blank">Math</a>
  <a href="https://drive.google.com/file/d/1LfR8SL-JJRdVeSX3NAbO0pwtHnP7FUZ3/view?usp=sharing" target="_blank">Kiswahili</a>
  <a href="https://drive.google.com/file/d/1vCHYHMN7WOUMhgBHA-O3gV4cX2pcEovm/view?usp=sharing" target="_blank">I.Science</a>
  <a href="https://drive.google.com/file/d/1dMLiaNRyhc6cBEYuWmc9LfIMjnsbD4XC/view?usp=sharing" target="_blank">English</a>
  <a href="https://drive.google.com/file/d/1q8PpcWKY2-dpzLdpuf3WEQjSbo5jo6tE/view?usp=sharing" target="_blank">CAS</a>
  <a href="https://drive.google.com/file/d/1uNWXWPa3hsjNqksgX11KsMGpZi-fnDlR/view?usp=sharing" target="_blank">CRE</a>
</ul>
{% endblock %}
